<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" href="{{asset "css/skeleton.css"}}" />
    <link rel="stylesheet" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" href="{{asset "css/code.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <script src="https://use.fontawesome.com/ce703ab35b.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="container">
        <div class="row">
            <div class="sidebar sticky">
                <div class="inner-sidebar">
                {{> title}}

                {{> introduction}}

                    {{navigation}}

                {{> sidebar}}
                </div>
            </div>
            <div class="main">
                <div class="smaller-logo">
                    <h1 class="site-title"><a href="/">john.ly</a></h1>
                    <div id="quote2"></div>
                </div>
                <div class="smaller-navigation">
                    {{navigation}}
                </div>
                {{{body}}}

                <div class="footer-copyright">
                &copy; 2014-{{date format="YYYY"}} | Johnathan Lyman | All rights reserved. | <a class="icon-ghost" href="//ghost.org">&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script async type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script async src="{{asset "js/randomtagline.js" }}"></script>
    <script async src="{{asset "js/readtime.js" }}"></script>

</body>
</html>