<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" href="{{asset "css/skeleton.css"}}" />
    <link rel="stylesheet" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" href="{{asset "css/code.css"}}" />
    <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{asset "js/readtime.js" }}"></script>
    <script src="{{asset "js/highlight.pack.js" }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="container">
        <div class="row">
            <div class="sidebar sticky">
                <div class="inner-sidebar">
                {{> title}}

                {{> introduction}}

                    {{navigation}}

                {{> sidebar}}
                </div>
            </div>
            <div class="main">
                {{{body}}}
            </div>
        </div>
    </div>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
</body>
</html>